.container
  .col-md-12.margin-top-5per.article-block
    - if @article.image_id.present?
      = image_tag attachment_url(@article, :image), class: "article-image padding-top-15"
    - else
      = image_tag "dog.png", class: "article-image padding-top-15"
    %h1
      = @article.title
    .padding-bottom-15.padding-10
      = simple_format(@article.body)
      %p.text-right
        = @article.created_at.strftime("%Y年%m月%d日")

    = link_to "編集する", edit_article_path(@article), class: "btn btn-primary margin-bottom-10", style: "margin-right: 10px"
    = link_to "削除する", article_path(@article), method: :delete, data: {confirm: "削除してもよろしいですか?"}, class: "btn btn-danger margin-bottom-10"